body {
  font-family: 'Poppins', sans-serif;
  background-color: #56AAF6;
}

.container {
  font-family: 'Poppins', sans-serif;
  margin: 10px auto;
  overflow: hidden;
  width: 100%;
  text-align: center;
}